Thumbs.db
.DS_Store

nginx.conf
docker-compose.override.yml
wp-config-local.php
.idea

# wp-content stuff
wp-content/debug.log
wp-content/uploads/*

# sypex dumper
sxd/backup/*
!sxd/backup/.htaccess
!sxd/backup/index.htm
sxd/cfg.php
sxd/ses.php
